<div class="timer" >
    <div class="timer-value">{{timerValue}}</div>
    <div class="button-wrapper">
        <button class="button timer-play button-primary" [hidden] = 'isShow' [disabled] = '!disabled' (click)='playTimer($event)'>Play</button>
        <button class="button timer-play button-primary" [hidden] = '!isShow' [disabled] = '!disabled' (click)='resetTimer()'>Reset</button>
        <button class="button timer-pause button-secondary" [disabled] = 'disabled' (click)='pauseTimer()'>Pause</button>
    </div>

</div>
