@import '../../../variables';



.message {
    padding: 20px 30px;
    background: rgba($primary, .6);
    font-size: 25px;
    font-weight: 700;
    max-width: 250px;
    margin-top: 20px;
    border-radius: 3px;
    text-align: center;
    &.active {
        background: rgba($secondary, .6)
    }
}