.movie {
    border-radius: 10px;
    overflow: hidden;
    margin-top: 20px;
    min-height: 100%;
}

.movie-info {
    padding: 10px 0;
}
 
.movie-img {
    object-fit: cover;
    width: 100%;
    min-height: 255px; 
}