<div class="movie">
        <img class="movie-img" src="{{ m.imagePath }}" alt="{{ m.title }}" />
        <div class="movie-info">
            <h2 class="movie-title">{{ m.title }}</h2>
            <h4 class="movie-year">Year: {{m.year}}</h4>
            <span movie-raiting>{{m.myRaiting}}</span>
            <p class="movie-genres">{{m.genres}}</p>
            <span class="movie-length">{{ m.length }}</span>
        </div>
       
</div> 