<section class="section">
    <div class="container">
        <ul class="menu-list">    
            <li><a routerLink="home-3-1">Home Task 3-1</a></li>
            <li><a routerLink="home-3-2">Home Task 3-2</a></li> 
        </ul>
    </div>
</section>

<hr>


<router-outlet></router-outlet>