@import '../variables';

.menu-list {
    list-style: none;
    padding: 10px 0;
    margin: 0;
    li {
        display: inline-block;
        & + li { margin-left: 10px; }
        
    }
    a {
        text-decoration: none;
        font-weight: 700;
        color: $primary;
        padding: 5px 10px;
        background: $primary;
        color: #fff;
        transition: 0.33s all linear;
        &:hover { background: $secondary;}
    }

}