<div class="container">
        <app-title [title]='title'></app-title>
        <app-timer (onRunning)='changeState($event)'  [message]='message'></app-timer>
        <app-message [message]='message' [messageClass] = "messageClass" ></app-message>
</div>