/* You can add global styles to this file, and also import other style files */
@import './variables';
@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid'; 

img {
    max-width: 100%;
    height: auto;
}

* { box-sizing: border-box; }

hr { margin: 0; }

.button {
    padding: 10px 25px;
    transition: 0.33s all ease-in-out;
    cursor: pointer;
    border-radius: 3px;
    font-weight: 700;
    &:disabled {
        opacity: 0.3;
    }
}

.button-primary {
    color: #fff;
    background: $primary;
    border: 1px solid $primary;
    &:not(:disabled) {
        &:hover, &:focus, &:active {
            background: $secondary;
            border: 1px solid $secondary;
        }
    }
   
}

.button-secondary {
    color: #fff;
    background: $secondary;
    border: 1px solid $secondary;
    &:not(:disabled) {
        &:hover, &:focus, &:active {
            background: $teritary;
            border: 1px solid $teritary;
        }
    }
 
}


.button-wrapper {
    margin-left: -5px;
    margin-right: -5px;
    & > * {
         margin-left: 5px;
        margin-right: 5px;
        }
}

* + .button-wrapper { margin-top: 10px; }


.row-30 {
    margin-bottom: -30px;
    & > * {
        margin-bottom: 30px;
    }
}

.text-center {
    text-align: center;
}

.offset-top-1 {
    margin-top: 20px;
}